/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1{
    background: #E9CF7B;
}
.color-2{
    background: #F2C187;
}
.color-3{
    background: #F6B5A0;
}
.color-4{
    background: #F9B0CB;
}
.color-5{
    background: #F7AFD0;
}

/* Textures or Patterns*/
.pattern-1{
    background: url("../img/pink_rice/pink_rice.png");
}
.pattern-2{
    background: url("../img/logo_x_pattern/logo_x_pattern.png");
}
.pattern-3{
    background: url("../img/seigaiha/seigaiha.png");
}
.pattern-4{
    background: url("../img/polkadots.jpg");
}
.pattern-5{
    background: url("../img/Stripes.jpg");
}
/* Imagery */


/* Icons */


/* Navigation */
a:link,
a:visited{
    color: lightpink;
    text-transform: uppercase;
}
a:hover{
    background: hotpink;
    margin-left: 20px;
}
a:active{
    color: floralwhite;
    background: black;
}


/* Typography */
p{
    font-family: 'Dosis', sans-serif;
}


