body {
	background-image: url("../img/marble.png");
}

#header {
	width: 80%;
	text-align: center;
	margin: auto;
}

h1 {
	text-align: center;
}


ul {
	list-style: none;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color: purple;
	font-size: 1.25em;
	font-weight: 700;
	padding: 0 2% 0 2%;
}
a:visited{
    text-transform: uppercase;
}
a:hover{
    background: hotpink;
    margin-left: 20px;
}
a:active{
    color: floralwhite;
    background: black;
}
